<h1><%= @site.domain %></h1>
<div>
  <div>
    Site URL: <a href="<%= @site.url %>"><%= @site.url %></a>
  </div>
  <% if !session[:domain] %>
  <div>
    <form action="https://indieauth.com/auth" method="get">
      <input type="hidden" name="me" value="<%= @site.domain %>">
      <input type="hidden" name="client_id" value="<%= "#{(ENV['RACK_ENV'] == 'production') ? 'https' : 'http'}://#{ request.host_with_port }/" %>">
      <input type="hidden" name="redirect_uri" value="<%= "#{(ENV['RACK_ENV'] == 'production') ? 'https' : 'http'}://#{ request.host_with_port }/login" %>">
      <button type="submit">Authenticate</button>
    </form>
  </div>
  <% end %>
  <ul>
    <% @site.stores.each do |store| %>
    <li>
      <strong><%= store.type_desc %></strong>: <%= store.location %>
    </li>
    <% end %>
  </ul>
  <div>
    <form action="/<%= @site.domain %>/stores" method="post">
      <select name="type_id">
        <option value="1">"GitHub"</option>
      </select>
      <input type="text" name="user" placeholder="username">
      <input type="text" name="location" placeholder="repository">
      <input type="text" name="key" placeholder="access key">
      <button type="submit">Add Store</button>
    </form>
  </div>
</div>
